.container 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: left !important;
}

.watchAll
{
    display: inline-block;
    align-items: left;
}

.watchAll:hover
{
    display: inline-block;
    align-items: left;
    color:#1976D2;
    cursor: pointer;
}

.firstComment
{
    display: inline-block;
}

.userName:hover
{
  text-decoration: underline;
  cursor: pointer;
}

.expandCommentContainer
{
    width: auto;
}